.mouse_gradient_class {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    pointer-events: none;
    display: none;
}

@media (min-width: 992px) {
    .mouse_gradient_class {
        display: block;
    }
}