.projects {
    margin-top: 0.5rem;
}

.projectHeading {
    text-transform: uppercase;
    font-family: 'Quantico', gotham, 'gotham';
    /* color: #00e5ff; */
    font-size: 5em;
    font-weight: 500;
    padding-top: 1rem;
    margin-bottom: 5rem;
    letter-spacing: 0.1em;
    background: linear-gradient(25deg, #ff0000 10%, #00e5ff 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectHeading::after {
    content: '';
    display: inline-block;
    position: relative;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(-25deg, #ff0000 10%, #00e5ff 74%);
    top: -0.3em;
}

.projectHeading::first-letter {
    font-size: 1.5em;
}

@media (max-width:700px) {
    .projectHeading {
        font-size: 2.4em;
        margin-bottom: 3rem;
    }

    .projectHeading::after {
        width: 100%;
    }
}


.projectSection {
    position: relative;
    height: auto;
    padding: 7rem 1.5rem 3rem 1.5rem;
}

.projectCards {
    padding: 2rem 0px;
}

.loadMore {
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 2em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.2em;
    padding: 0.1em 2.5em;
    background-color: rgba(255, 255, 255, 0.5);
    color: hsl(228, 100%, 10%);
    position: relative;
    top: 0;
    transition:
        top 200ms ease-in-out,
        color 200ms ease-in-out,
        background-color 200ms ease-in-out;
    white-space: nowrap;
}

.loadMore:hover,
.loadMore:focus {
    color: hsl(228, 50%, 10%);
    background-color: rgba(255, 255, 255, 0.7);
    top: -0.6rem;
}

@media (max-width:700px) {
    .loadMore {
        font-size: 1.4em;
        margin: 0;
        padding: 0.1em 1.5em;
    }
}