.projectHeading {
    font-family: 'Quantico', gotham, 'gotham';
    color: #00e5ff;
    font-size: 2.3em;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 5rem;
}

.projectSection {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 30px;
    height: auto;
}

.projectCards {
    padding: 2rem 0px;
}