.text::after {
  content: '_';
  visibility: hidden;
  display: none;
}

.glyph {
  opacity: 0.8;
  font-weight: 400;
  font-family: 'ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Hiragino Sans, Osaka, メイリオ, Meiryo, Segoe UI, sans-serif';
  line-height: 0;
}

.value {
  opacity: 1;
}