.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dsizeE {
    height: 30rem !important;
    width: 30rem !important;
}

.dsizeF {
    min-height: 30rem !important;
    width: 30rem !important;
}

@media (max-width: 767.5px) {
    .dsizeE {
        height: 27rem !important;
        width: 27rem !important;
    }

    .dsizeF {
        min-height: 27rem !important;
        width: 27rem !important;
    }
}

@media (max-width: 640px) {
    .dsizeE {
        height: 24rem !important;
        width: 24rem !important;
    }

    .dsizeF {
        min-height: 24rem !important;
        width: 24rem !important;
    }
}

@media (max-width: 450px) {
    .dsizeE {
        height: 19rem !important;
        width: 19rem !important;
    }

    .dsizeF {
        min-height: 19rem !important;
        width: 19rem !important;
    }
}

@media (max-width:991px) {
    .container {
        flex-direction: column-reverse;
    }
}