.project-section {
    position: relative !important;
    padding-top: 7rem !important;
    padding-bottom: 30px !important;
    height: auto !important;
}

.project-card {
    display: inline-block;
    width: 25rem;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px;
    padding-right: 25px;
    height: auto !important;
}

@media (max-width:600px) {
    .project-card {
        width: 20rem;
        padding-left: 0;
        padding-right: 0;
    }
}


.card-link {
    z-index: 1010;
}


.project-card-view {
    box-shadow: 0 4px 5px 3px rgba(53, 122, 136, 0.459) !important;
    color: white !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(72, 120, 144, 0.561) !important;
}


.btn-primary {
    width: 90%;
    color: #fff !important;
    background-color: #368a8e !important;
    border-color: #366386 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #2083c5d7 !important;
    border-color: #2080c5d7 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.project-heading {
    font-family: 'Quantico', gotham, 'gotham';
    color: #00e5ff !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
    margin-bottom: 5rem !important;
}

.chips-render {
    margin: 0.2rem !important;
    color: rgb(255, 255, 255) !important;
    font-size: small !important;
    padding: 0.4rem !important;
    font-weight: 100 !important;
    position: relative !important;
    border: unset !important;
}

:root {
    /*  background-color #20bf55; */
    --use-gradient1: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    --use-gradient2: linear-gradient(101deg, rgb(81, 145, 213), rgb(211, 18, 151));
    --use-gradient3: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
    --use-gradient4: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    --use-gradient5: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    --use-gradient6: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    --use-gradient7: linear-gradient(170deg, #231676 0%, #f538c3 74%);
}

.chips-render::before {
    content: "" !important;
    position: absolute !important;
    inset: 0 !important;
    border-radius: 2em !important;
    padding: 1.5px !important;
    background-image: var(--use-gradient7) !important;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0) !important;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0) !important;
    -webkit-mask-composite: xor !important;
    mask-composite: exclude !important;
}