:root {
    --alpha: 0.09;
    --cube-len: 25rem;
    --wdth: var(--cube-len);
    --hght: var(--cube-len);
    --border-color-cube: rgb(255, 255, 255, 0.2);
    --z-translate-cube: -10rem;
    --img-opacity: 0.8;
}

@media (max-width:630px) {
    :root {
        --cube-len: 17rem;
    }
}

.scene {
    display: inline-block;
    width: var(--wdth);
    height: var(--hght);
    perspective: 600px;
    margin: 3em;
    /* border: 1px solid hsl(0, 100%, 50%, 0.4); */
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    animation: rotationAnimation 20s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite forwards;
    /* border: 1px solid hsl(0, 100%, 50%); */
}

.cube:hover {
    animation-play-state: paused;
}

.face {
    position: absolute;
    font-size: 2.5em;
    width: var(--wdth);
    height: var(--hght);
    display: flex;
    justify-content: center;
    align-items: center;
}

.face img {
    width: 90%;
    opacity: var(--img-opacity);
    object-fit: contain;
    image-resolution: 1;
    /* object-fit: fill; */
    /* object-fit: cover; */
}

.front {
    /* background-color: rgba(209, 61, 148, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateY(0deg) translateZ(calc(var(--hght) / 2));
}

.right {
    /* background-color: rgba(128, 128, 128, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateY(90deg) translateZ(calc(var(--hght) / 2));
}

.back {
    /* background-color: rgba(255, 255, 0, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateY(180deg) translateZ(calc(var(--hght) / 2));
}

.left {
    /* background-color: rgba(255, 0, 255, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateY(-90deg) translateZ(calc(var(--hght) / 2));
}

.top {
    /* background-color: rgba(0, 128, 0, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateX(90deg) translateZ(calc(var(--hght) / 2));
}

.bottom {
    /* background-color: rgba(0, 0, 255, var(--alpha)); */
    background-color: rgba(0, 0, 0, var(--alpha));
    border: 1px solid var(--border-color-cube);
    transform: rotateX(-90deg) translateZ(calc(var(--hght) / 2));
}

@keyframes rotationAnimation {
    0% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(0deg);
    }

    17% {
        transform: translateZ(var(--z-translate-cube)) rotateY(90deg);
    }

    33% {
        transform: translateZ(var(--z-translate-cube)) rotateX(90deg);
    }

    50% {
        transform: translateZ(var(--z-translate-cube)) rotateY(180deg);
    }

    67% {
        transform: translateZ(var(--z-translate-cube)) rotateY(270deg);
    }

    84% {
        transform: translateZ(var(--z-translate-cube)) rotateX(-90deg);
    }

    100% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(0deg);
    }
}

/* 

{
    0% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    17% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
    }

    33% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(-90deg) rotateZ(-90deg);
    }

    50% {
        transform: translateZ(var(--z-translate-cube)) rotateX(0deg) rotateY(-180deg) rotateZ(-90deg);
    }

    67% {
        transform: translateZ(var(--z-translate-cube)) rotateX(90deg) rotateY(-180deg) rotateZ(-90deg);
    }

    84% {
        transform: translateZ(var(--z-translate-cube)) rotateX(90deg) rotateY(-180deg) rotateZ(-180deg);
    }

    100% {
        transform: translateZ(var(--z-translate-cube)) rotateX(180deg) rotateY(-180deg) rotateZ(-180deg);
    }
} */



/* INNER CUBE */

/* 

:root {
    --inner-cube-len: calc(var(--cube-len) / 3);
    --inner-wdth: var(--inner-cube-len);
    --inner-hght: var(--inner-cube-len);
    --inner-z-translate-cube: calc(var(--z-translate-cube) / 2);
    --inner-bg-color: hsla(0, 0%, 0%, 0.8);
}

.innerface {
    position: absolute;
    top: calc((var(--wdth) - var(--inner-wdth))/2);
    left: calc((var(--wdth) - var(--inner-wdth))/2);
    font-size: 1.25em;
    width: var(--inner-wdth);
    height: var(--inner-hght);
    box-shadow: 0 0 3px 1px rgb(81, 78, 78);
}

.innerfront {
    background-color: var(--inner-bg-color);
    transform: rotateY(0deg) translateZ(calc(var(--inner-hght) / 2));
}

.innerright {
    background-color: var(--inner-bg-color);
    transform: rotateY(90deg) translateZ(calc(var(--inner-hght) / 2));
}

.innerback {
    background-color: var(--inner-bg-color);
    transform: rotateY(180deg) translateZ(calc(var(--inner-hght) / 2));
}

.innerleft {
    background-color: var(--inner-bg-color);
    transform: rotateY(-90deg) translateZ(calc(var(--inner-hght) / 2));
}

.innertop {
    background-color: var(--inner-bg-color);
    transform: rotateX(90deg) translateZ(calc(var(--inner-hght) / 2));
}

.innerbottom {
    background-color: var(--inner-bg-color);
    transform: rotateX(-90deg) translateZ(calc(var(--inner-hght) / 2));
}

*/