@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap");

.navfontfamily {
    font-family: "Overpass" !important;
}

.nav_ac {
    padding: 5px 15px;
    border: unset;
    /* font-size: 1.25rem; */
    font-family: Marcellus;
    color: #fff !important;
    line-height: 2;
    height: 40px;
    font-weight: bold;
    z-index: 1000;
    /* text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975; */
}


.myNavLink {
    text-decoration: none;
    position: relative;
    transition: color 300ms ease 0.1s;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transition: all 200ms ease-in-out;
    opacity: 0.6 !important;
}

.myNavLink::after {
    bottom: 4px;
    border-radius: 2em;
    content: '';
    position: absolute;
    right: 8px;
    left: 8px;
    height: 2px;
    background: rgb(0, 229, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.active.myNavLink::after {
    transform: scaleX(1);
    transform-origin: left;
}

.active.myNavLink {
    opacity: 1 !important;
}

.myNavLink:hover,
.myNavLink:active,
.myNavLink:focus {
    opacity: 1 !important;
}

/* .myNavLink:hover::after,
.myNavLink:active::after,
.myNavLink:focus::after {
    transform: scaleX(1);
    transform-origin: left;
} */

.navbar {
    z-index: 900 !important;
    position: fixed !important;
    padding: 0rem 0rem 0rem 2rem !important;
    font-size: 1.2rem !important;
    /* box-shadow: 0px 3px 3px 0px rgba(9, 5, 29, 0.171) !important; */
}

.scrolled {
    backdrop-filter: blur(2px) !important;
}

.navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0 !important;
}

.navbar-nav .nav-link {
    text-transform: capitalize !important;
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .navbar {
        /* padding: 1rem 2rem !important; */
        font-size: 1.4rem !important;
    }

    .nav-link {
        padding: 0.7rem 1rem !important;
    }
}