@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.navfontfamily {
    font-family: "Overpass" !important;
}

.myNavLink {
    text-decoration: none;
    position: relative;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transition: color 300ms ease 0.1s,
        all 200ms ease-in-out;
    opacity: 0.6 !important;
}

.myNavLink::after {
    bottom: 4px;
    border-radius: 2em;
    content: '';
    position: absolute;
    right: 8px;
    left: 8px;
    height: 2px;
    background: rgb(0, 229, 255);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.active.myNavLink::after {
    transform: scaleX(1);
    transform-origin: left;
}

.active.myNavLink {
    opacity: 1 !important;
}

.myNavLink:hover,
.myNavLink:active,
.myNavLink:focus {
    opacity: 1 !important;
}

.navbar {
    z-index: 900 !important;
    position: fixed !important;
    padding: 0rem 0rem 0rem 2rem !important;
    font-size: 1.2rem !important;
    transition: background-color 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.class-nav-df-jc-ai {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 767.5px) {
    .navbar {
        padding: 0 !important;
        backdrop-filter: blur(0px) !important;
        /* background-color: var(--background-universal) !important; */
        /* padding: 1rem 2rem !important; */
        font-size: 1.4rem !important;
    }

    .class-nav-df-jc-ai {
        /* height: calc(100dvh - 50px); */
        /* height: calc(100dvh - 81px); */
        height: calc(100dvh - 64px);
        /* background-color: var(--background-universal) !important; */
    }

    .navbar-expanded {
        background-color: var(--background-universal) !important;
    }

    .nav-link {
        padding: 0.7rem 1rem !important;
    }
}

/* .scrolled {
    backdrop-filter: blur(2px) !important;
} */

.navbar-toggler {
    position: relative !important;
    background-color: transparent !important;
    border-color: transparent !important;
    /* padding: 0 !important; */
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0 !important;
}

.navbar-nav .nav-link {
    text-transform: capitalize !important;
    color: white !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 20px;
}

.navbar-nav .nav-item a {
    position: relative;
    z-index: 1;
}


.navbar_tglbtn:focus {
    color: white;
    outline: unset !important;
    box-shadow: unset !important;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .nav-container-fix {
        max-width: 960px;
    }
}