.about {
    margin-top: 0.5rem;
}

.aboutHeading {
    text-transform: uppercase;
    font-family: 'Quantico', gotham, 'gotham';
    font-size: 5em;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 5rem;
    letter-spacing: 0.1em;
    background: linear-gradient(25deg, #ff0000 10%, #00e5ff 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutHeading::after {
    content: '';
    display: inline-block;
    position: relative;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(-25deg, #ff0000 10%, #00e5ff 74%);
    top: -0.3em;
}

.aboutHeading::first-letter {
    font-size: 1.7em;
}

@media (max-width:700px) {
    .aboutHeading {
        font-size: 2.4em;
        margin-bottom: 3rem;
    }

    .aboutHeading::after {
        width: 100%;
    }
}

/* -------------------------------------------- */

.aboutSection {
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 7rem 1.5rem 3rem 1.5rem;
}

.aboutMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .textHere {} */

.aboutPic {
    object-fit: contain;
    height: 100%;
}

.aboutPic img {
    width: 50%;
}

/* -------------------------------------------- */

/* .aboutSection,
.aboutMain,
.aboutText,
.aboutPic {
    border: 1px solid rgb(255, 178, 36);
} */

/* -------------------------------------------- */