.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dsize {
    height: 30rem !important;
    width: 30rem !important;
}

@media (max-width: 768px) {
    .dsize {
        height: 27rem !important;
        width: 27rem !important;
    }
}

@media (max-width: 640px) {
    .dsize {
        height: 24rem !important;
        width: 24rem !important;
    }
}

@media (max-width: 450px) {
    .dsize {
        height: 19rem !important;
        width: 19rem !important;
    }
}