@font-face {
    font-family: gotham;
    src: url('/fonts/gotham-medium.woff2');
}

:root {
    color-scheme: dark;
    scroll-behavior: smooth !important;
}

::selection {
    background-color: hsla(16, 100%, 66%, 0.2);
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: gotham, 'gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;

    min-height: 100vh;
    color: rgb(255, 255, 255) !important;
    background-color: var(--background-universal) !important;
    caret-color: rgb(255, 127, 80);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#portfolio-main>section {
    position: relative;
    min-height: 100vh;
    padding-top: 4rem;
    width: 100%;
}

@media (max-width: 767.5px) {
    #portfolio-main>section {
        padding-top: 5rem;
    }
}


/* @media (max-width: 640px) {
    #portfolio-main>section {
        padding-top: 4rem;
    }
} */

#portfolio-main>section:first-child {
    padding-top: unset;
}

/*========== Customizing Scroll Bar ==========*/
/* ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
} */

::-webkit-scrollbar {
    width: 0.25rem;
    background-color: #1c2935;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: #647578;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #779ea5;
}

:root {
    --background-universal: rgb(20, 20, 20);

    --use-gradient1: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    --use-gradient2: linear-gradient(101deg, #5191d5, #d31297);
    --use-gradient3: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
    --use-gradient4: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    --use-gradient5: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    --use-gradient6: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    --use-gradient7: linear-gradient(170deg, #231676 0%, #f538c3 74%);
    --use-gradient8: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
    --use-gradient9: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    --use-gradient10: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    --use-gradient11: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
    --use-gradient12: linear-gradient(315deg, #94c997 0%, #daacec 74%);
    --use-gradient13: linear-gradient(315deg, #d19592 0%, #c81f70 74%);
    --use-gradient14: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    --use-gradient15: linear-gradient(315deg, #bdd8fe 0%, #e186b4 74%);
    --use-gradient16: linear-gradient(315deg, #fbbc95 0%, #fddac5 74%);
    --use-gradient17: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    --use-gradient18: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    --use-gradient19: linear-gradient(315deg, #fabf61 0%, #ffdd00 74%);
    --use-gradient20: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);
    --use-gradient21: linear-gradient(25deg, #ff0000 10%, #00e5ff 74%);

    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);


    /* External sources */
    --navy: #0a192f;
    --light-navy: #112240;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --green: #64ffda;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}